.operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operations__title {
  flex-basis: 10%;
  font-size: 32px;
  font-weight: 500;
}

.operations input {
  padding: 0 25px;
  flex-basis: 33%;
  height: 44px;
  font-size: 14px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
}

.operation_buttons__wrapper {
  flex-basis: 52%;
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}

.operation_buttons__wrapper button {
  padding-inline: 16px;
  flex-basis: auto;
}

.operation_buttons__wrapper a {
  flex-basis: 22%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}






.products_wrapper {
  display: flex;
  flex-direction: column;
}

.products_wrapper__head {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f77532;
}

.products_wrapper__head p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 4%;
}

.name {
  flex-basis: 20%;
}

.code {
  flex-basis: 6%;
  text-align: right;
}

.remains {
  flex-basis: 13%;
  text-align: center;
}

.cost_price {
  flex-basis: 14%;
}

.cost_price_sum {
  flex-basis: 18%;
}

.sale_price {
  flex-basis: 14%;
}

.sale_price_sum {
  flex-basis: 11%;
}

.products_wrapper {
  margin-bottom: 100px;
}

.actions {
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
}

.actions_width {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions_width p {
  font-size: 24px;
  font-weight: 700;
}

.actions_buttons {
  display: flex;
  gap: 60px;
}

.actions_buttons button {
  width: 257px;
  height: 44px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.actions_buttons :last-child {
  color: #fff;
  background-color: #f77532;
  font-weight: 700;
}