.product_wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.name_operation {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
  /* transform: scale(1); */
  /* cursor: pointer; */
  /* transition: transform 0.3s ease; */
  /* transform-origin: left center; */
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.product_wrapper:hover {
  /* transform: scale(1.25); */
  background-color: #ececec;
}

.product_wrapper p {
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 5%;
}

.name {
  margin-left: 50px;
  flex-basis: 23%;
}

.code {
  flex-basis: 8%;
  text-align: right;
}

.cost_price {
  flex-basis: 15%;
  text-align: center;
}

.unit_of_measurement {
  flex-basis: 20%;
  text-align: center;
}

.sale_price {
  flex-basis: 20%;
  text-align: center;
}