.product_wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
}

.product_wrapper p {
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 3%;
}


.number {
  flex-basis: 5%;
}

.code {
  flex-basis: 17%;
  padding-left: 40px;
  /* text-align: center; */
}

.time {
  flex-basis: 20%;
}

.contractors {
  flex-basis: 20%;
}

.organization {
  flex-basis: 20%;
}

.sum {
  flex-basis: 15%;
}