.operations {
  display: flex;
  justify-content: space-between;
}

.operations__title {
  flex-basis: 17%;
  font-size: 32px;
  font-weight: 500;
}

.operations input {
  padding: 0 25px;
  flex-basis: 36%;
  height: 44px;
  font-size: 14px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
}

.operation_buttons__wrapper {
  flex-basis: 44%;
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}

.operation_buttons__wrapper button {
  flex-basis: 28%;
}





.products_wrapper {
  display: flex;
  flex-direction: column;
}

.products_wrapper__head {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f77532;
}

.products_wrapper__head p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 5%;
}


.name {
  flex-basis: 20%;
}

.code {
  flex-basis: 10%;
  text-align: center;
}

.created {
  flex-basis: 16.25%;
  padding-left: 30px;
}

.phone {
  flex-basis: 16.25%;
  padding-left: 20px;
}

.email {
  flex-basis: 16.25%;
  padding-left: 20px;
}

.address {
  flex-basis: 16.25%;
  padding-left: 20px;
}