.product_wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
}

.product_wrapper p {
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 5%;
}

.name {
  flex-basis: 18%;
}

.code {
  flex-basis: 5%;
  text-align: right;
}

.date_sale {
  flex-basis: 18%;
  text-align: center;
}

.quantity_sum {
  flex-basis: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.income {
  flex-basis: 80%;
  text-align: center;
}

.quantity {
  padding-left: 15px;
  flex-basis: 40%;
  text-align: left;
}

.sum {
  flex-basis: 45%;
  text-align: right;
}