form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form_product label,
option,
p {
  font-size: 16px;
  line-height: 19.5px;
}

.form_product p {
  font-weight: 500 !important;
}

.form_product option {
  cursor: pointer;
}

.form_product input,
select {
  height: 44px !important;
  padding: 0 25px !important;
  border: 1px solid #b4b4b4 !important;
  border-radius: 10px !important;
  outline: none !important;
  font-size: 16px !important;
}

.form_product select {
  cursor: pointer;
}

.products_header__wrapper {
  display: flex;
  flex-direction: column;
}

.products_buttons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
}

.products_buttons :first-child {
  background-color: #f77532;
  color: #fff;
  font-weight: 700;
  border: #f77532;
}

.products_buttons button {
  flex-basis: 48%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19.5px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.products_buttons a {
  flex-basis: 48%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19.5px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_inputs :last-child {
  padding: 0;
  border: none;
}

.form_item {
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1.5px solid #b4b4b4;
}

.item {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item2 {
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
}

.item2 button {
  flex-basis: 30%;
}

.item_half {
  display: flex;
  justify-content: space-between;
}

.item_half input {
  flex-basis: 48%;
}


.products_name {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  border-bottom: 1px solid #b4b4b4;
}

.products_wrapper__head {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f77532;
}

.products_wrapper__head p {
  font-weight: 500;
  font-size: 15px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 3%;
}

.name {
  flex-basis: 20%;
}

.code {
  flex-basis: 5%;
  text-align: center;
}

.cost_price {
  flex-basis: 15%;
  text-align: center;
}

.unit_of_measurement {
  flex-basis: 10%;
  text-align: center;
}

.sale_price {
  flex-basis: 10%;
  text-align: center;
}

.color {
  flex-basis: 12%;
  text-align: center;
}

.frameGrowth {
  flex-basis: 12%;
  text-align: center;
}

.wheelsSize {
  flex-basis: 13%;
  text-align: center;
}


.sale_products {
  margin-bottom: 100px;
}

.sale {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
}

.sale_width {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale_width p {
  font-size: 24px;
  font-weight: 700;
}

.sale button {
  width: 257px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #f77532;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.overlay {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 9999;
  background: white;
  padding: 30px;
  border-radius: 20px;
  min-width: 500px;
  max-width: fit-content;
  max-height: fit-content;
  outline: none;
  position: relative;
}

.modal input {
  height: 35px;
  padding: 0 15px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.productRow__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productRow {
  display: flex;
  justify-content: space-between;
}

.title_sale {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.totalPrice p {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

.modalButtons {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modalButtons button {
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #f77532;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 14px;
  right: 17px;
  font-size: 18px;
  font-weight: 700;
  color: gray;
  cursor: pointer;
}