.product_wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
}

.product_wrapper p {
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 3%;
}


.number {
  flex-basis: 5%;
}

.time {
  flex-basis: 15%;
}

.name {
  flex-basis: 24%;
}

.to_warehouse {
  flex-basis: 11%;
  /* text-align: center; */
}

.contractors {
  flex-basis: 20%;
  text-align: center;
}

.organization {
  flex-basis: 15%;
  text-align: center;
}

.sum {
  flex-basis: 12%;
  text-align: right;
}