.product_wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 13px;
  border-bottom: 1px solid #b4b4b4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.product_wrapper:hover {
  background-color: #ececec;
}

.product_wrapper p {
  font-size: 16px;
  line-height: 19.5px;
}

.checkBox_wrapper {
  padding-left: 8px;
  flex-basis: 3%;
}


.name {
  flex-basis: 20%;
}

.code {
  flex-basis: 10%;
  text-align: center;
}

.created {
  flex-basis: 15%;
}

.phone {
  flex-basis: 12%;
}
.email {
  flex-basis: 17%;
}

.address {
  flex-basis: 28%;
}